@model OplevOgDel.Web.Models.ViewModel.ReportsViewModel

@{
    ViewData["Title"] = "Reports";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Logget ind</p>
    <p>@User.Identity.Name</p>
}
else
{
    <p>Ikke logget ind</p>
}


@if (User.IsInRole("User"))
{
    <p>User rolle</p>

}
else if (User.IsInRole("Admin"))
{
    <p>Admin rolle</p>

}
else
{
    <p>Ingen rolle</p>
}

<h1>Oplevelser med en tilknyttet rapport</h1>

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Antal reporter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Experiences)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.Name, "ManageExperience", new { id = item.Id })
                </td>

                <td>
                    *W.I.P*
                </td>
            </tr>
        }
    </tbody>
</table>
